@import "../../../index";
.Button {
  display: inline-block;
  height: $mainSize*2+2;
  padding: 10px 20px;
  border: 1px solid #ccc;
  color: $white;
  font-weight: bold;
  font-size: 16px;
  margin: 0 $mainSize;
  cursor: pointer;
  &:hover {
    opacity: .85;
  }
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
  }
  &:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
  }
}
.primary{
  background: $contrastyBlue;
}
