@import "../../index";
.TopNavigation{
  min-width: 800px;
  height: $mainSize*2;
  background: $black;
  padding: 0 $mainSize;
}
.Links{
  & li{
    display: block;
    float: left;
    & a {
      padding: 0 $mainSize;
      color: $white;
      line-height:$mainSize*2;
      display: inline-block;
      &:hover {
        background: $contrastyRed;
      }
    }
  }
}
