@import "../../../index";
.SearchInput{
  background: $white;
  color: $grey;
  height: $mainSize*2;
  width: 300px;
  padding: 0 $mainSize/2;
  font-size: 14px;
  border: 1px solid $borderGrey;
  display: block;
  float: left;

  &:focus{
    border: 1px solid $contrastyBlue;
    outline: none;
  }
}