$mainBackground: #f5f5f5;
$black: #2c2c2c;
$white: #fff;
$grey: #333;
$mainSize: 20px;
$borderGrey: #cbd1d4;
$contrastyColor: #0f8fee;

body{
  background: $mainBackground;
  margin: 0;
  padding: 0;
}